@keyframes hahaha {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
      0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(127, 191, 255, 0.3), 0 0 40px rgba(127, 191, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3),
      0 0 15px rgba(255, 255, 255, 0.3), 0 0 25px rgba(255, 255, 255, 0.3),
      0 0 25px rgba(127, 191, 255, 0.3), 0 0 45px rgba(127, 191, 255, 0.3);
  }
}

.hahaha {
  animation: hahaha 6s infinite;
}
